.header {
	.logo {
		width: 50px;
		margin: 4px 0 0 0;
		float: left;
		text-decoration: none;
	}
}

.main-content {
	padding: 35px 20px 40px 20px;
	.filter {
		min-width: 0;
		margin: -35px -20px 25px -20px;
	}
}

.post {
	@include box-sizing();
	.right {
		float: left;
		width: 80%;
	}
	.image {
		width: 40px;
		height: 40px;
		@include radius(20px);
	}
	.tags {
		margin: 5px 0 30px 0;
	}
}

footer {
	ul {
		padding: 0;
	}
}

label {
    margin: 0 0 12px 0;
}

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	font-size: 14px;
    height: 20px;
}

.btn {
	padding: 8px 14px 6px;
	font-size: 18px;
}