.header {
	background-color: $brand;
	height: 68px;
	padding: 0 5%;
	margin: 0 0 0 0;
}
	

.main-content {
	margin: 0 5%;
	padding: 35px 20px 20px 20px;
	width: 90%;
	@include box-sizing();
	.bookmarklet {
		background-color: $brand;
		@include radius(5px);
		margin: 20px 0 30px 0;
		padding: 7px 10px;
		color: $white;
		text-decoration: none;
	}
	.filter {
		min-width: 0;
		margin: -35px -20px 25px -20px;
		background-color: darken($white, 5);
		padding: 0 40px 0 0;
		h3 {
			background-color: darken($white, 10);
			padding: 20px 20px 20px 20px;
			margin: 0;
		}
	}
	.filter-tag {
		margin: 0 0 0 10px;
		display: inline-block;
		height: 20px;
		padding: 2px 8px;
		background-color: $brand;
		vertical-align: middle;
		@include radius(12px);
		font-size: 16px;
		color: $white;
		text-transform: lowercase;
		a {
			text-decoration: none;
			color: darken($brand, 20);
			font-size: 18px;
			vertical-align: middle;
			margin: 0 5px 0 0;
			font-weight: bold;
			&:hover {
				color: darken($brand, 40);
			}
		}
	}
}

.post {
	@include box-sizing();
	.right {
		width: 80%;
	}
	.tags {
		margin: 5px 0 30px 0;
	}
}


footer {
	ul {
		padding: 0 5%;
	}
}