/*
 * Hoisin sauce
 * CSS Framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9
 *
 */
.container {
  width: 960px;
  margin: 0 auto; }
  .container:after {
    content: " ";
    clear: both; }

.col2 {
  width: 140px;
  float: left;
  margin: 0 10px; }

.col3 {
  width: 220px;
  float: left;
  margin: 0 10px; }

.col4 {
  width: 300px;
  float: left;
  margin: 0 10px; }

.col5 {
  width: 380px;
  float: left;
  margin: 0 10px; }

.col6 {
  width: 460px;
  float: left;
  margin: 0 10px; }

.col7 {
  width: 540px;
  float: left;
  margin: 0 10px; }

.col8 {
  width: 620px;
  float: left;
  margin: 0 10px; }

.col9 {
  width: 700px;
  float: left;
  margin: 0 10px; }

.col10 {
  width: 780px;
  float: left;
  margin: 0 10px; }

.col11 {
  width: 860px;
  float: left;
  margin: 0 10px; }

.col12 {
  width: 940px;
  float: left;
  margin: 0 10px; }

.pre1 {
  margin-left: 80px; }

.pre2 {
  margin-left: 160px; }

.pre3 {
  margin-left: 240px; }

.pre4 {
  margin-left: 320px; }

.pre5 {
  margin-left: 400px; }

.pre6 {
  margin-left: 480px; }

.pre7 {
  margin-left: 560px; }

.pre8 {
  margin-left: 640px; }

.pre9 {
  margin-left: 720px; }

.pre10 {
  margin-left: 800px; }

.suf1 {
  margin-right: 80px; }

.suf2 {
  margin-right: 160px; }

.suf3 {
  margin-right: 240px; }

.suf4 {
  margin-right: 320px; }

.suf5 {
  margin-right: 400px; }

.suf6 {
  margin-right: 480px; }

.suf7 {
  margin-right: 560px; }

.suf8 {
  margin-right: 640px; }

.suf9 {
  margin-right: 720px; }

.suf10 {
  margin-right: 800px; }

.colr {
  float: right;
  margin: 0 10px; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.clear {
  clear: both; }

.header {
  background-color: #df4627;
  height: 68px; }
  .header .logo {
    background: url(../img/logo.png) no-repeat;
    background-image: url(../img/logo.svg), none;
    background-position: 0 17px;
    background-size: 25px 25px;
    width: auto;
    height: 50px;
    margin: 4px 0 0 0;
    padding: 0 0 0 23px;
    float: left;
    text-decoration: none; }
  .header h1 {
    color: white;
    font-size: 22px;
    font-weight: normal; }
  .header .main-nav {
    float: right;
    font-family: "Roboto Slab", serif; }
    .header .main-nav ul {
      list-style: none; }
      .header .main-nav ul li {
        float: left;
        margin-left: 10px; }
        .header .main-nav ul li a {
          background: none repeat scroll 0 0 #ce3c1f;
          border: 1px solid #b8361b;
          -ms-border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          float: left;
          padding: 7px 10px;
          font-family: "PT Sans", sans-serif;
          color: white;
          opacity: 0.9;
          text-decoration: none; }
          .header .main-nav ul li a:hover {
            background: none repeat scroll 0 0 #b8361b;
            border: 1px solid #a22f18;
            text-shadow: 2px 2px #a22f18;
            opacity: 1; }
          .header .main-nav ul li a.cta {
            background: none repeat scroll 0 0 #a22f18;
            border: 1px solid #8b2915; }
            .header .main-nav ul li a.cta:hover {
              background: none repeat scroll 0 0 #8b2915;
              border: 1px solid #752211;
              text-shadow: 2px 2px #752211; }

.main-content {
  z-index: -3;
  background: white;
  padding: 20px 20px 35px;
  min-height: 80%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .main-content .bookmarklet {
    background-color: #df4627;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0 30px 0;
    padding: 7px 10px;
    color: white;
    text-decoration: none; }
  .main-content p {
    margin: 0 0 10px 0; }
  .main-content .error {
    margin: 0 5px 0 0;
    font-size: 26px;
    line-height: 6px;
    vertical-align: middle;
    color: #dc3f47; }
  .main-content h3 {
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 16px; }
    .main-content h3 span {
      color: #676767;
      font-weight: 400; }
    .main-content h3 a {
      color: #df4627;
      font-weight: 400;
      font-size: 12px;
      margin: 0 0 0 5px; }
  .main-content .filter {
    margin: -20px 0 20px -20px;
    min-width: 600px;
    background-color: #f2f2f2;
    padding: 0 20px 0 0; }
    .main-content .filter h3 {
      background-color: #e6e6e6;
      padding: 20px 20px 20px 20px;
      margin: 0; }
  .main-content .filter-tag {
    margin: 0 0 0 10px;
    display: inline-block;
    height: 20px;
    padding: 2px 8px;
    background-color: #df4627;
    vertical-align: middle;
    -ms-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    text-transform: lowercase; }
    .main-content .filter-tag a {
      text-decoration: none;
      color: #8b2915;
      font-size: 18px;
      vertical-align: middle;
      margin: 0 5px 0 0;
      font-weight: bold; }
      .main-content .filter-tag a:hover {
        color: #330f07; }
  .main-content ul {
    list-style: none;
    margin: 12px 0 10px 20px;
    padding: 0; }
    .main-content ul.pager {
      list-style: none;
      margin: 30px 0;
      padding: 0; }
      .main-content ul.pager li {
        margin: 0;
        float: left;
        padding: 7px 10px;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #666666;
        text-decoration: none;
        cursor: pointer;
        line-height: 24px;
        text-align: center; }
        .main-content ul.pager li:last-child {
          float: right; }
        .main-content ul.pager li:before {
          content: none; }
        .main-content ul.pager li a {
          color: #df4627;
          text-decoration: none; }
        .main-content ul.pager li.disabled {
          color: transparent; }
    .main-content ul li {
      color: #5a5a5a; }
      .main-content ul li:before {
        content: '\2022';
        vertical-align: middle;
        margin: 0 8px 0 0;
        color: #df4627;
        font-size: 22px; }

.post {
  padding: 15px 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .post .left {
    float: left;
    padding: 0 15px 0 0; }
  .post .right {
    float: left;
    width: 500px; }
  .post .image {
    -ms-border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px; }
  .post h1 {
    margin: 0;
    font-size: 24px; }
    .post h1:hover {
      color: #df4627; }
  .post h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize; }
    .post h2:hover {
      color: #df4627; }
  .post h3 {
    font-size: 22px;
    margin: 50px 0 0 78px; }
  .post h4 {
    margin: 0 0 10px 0;
    font-size: 16px; }
  .post .comments {
    color: #414141;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline; }
    .post .comments:hover {
      color: #df4627; }
  .post .comment {
    margin: 30px 0 0 2px; }
    .post .comment p {
      color: #5a5a5a;
      margin: 0 0 10px 0; }
    .post .comment .time {
      color: #8d8d8d;
      font-size: 14px; }
  .post .add {
    margin: 0 0 0 78px; }
    .post .add p {
      margin: 20px 0 20px 0; }
    .post .add .btn {
      margin: 0 5px 0 0;
      color: white; }
  .post a {
    text-decoration: none;
    color: #343434; }
    .post a:visited {
      color: #6c6c6c; }
  .post .domain {
    font-family: "Roboto Slab", serif;
    font-size: normal;
    color: #616161;
    font-size: 14px; }
  .post .tags {
    margin: 5px 0 0 0; }
  .post .tag {
    background-color: #e6e6e6;
    padding: 2px 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    color: gray;
    text-transform: lowercase;
    cursor: pointer; }
    .post .tag:hover {
      background-color: #df4627;
      color: white; }
  .post p {
    margin: 0; }

.no-posts {
  margin: 20px 0 0 0;
  background: url(../img/sad-face.png) no-repeat;
  background-image: url(../img/sad-face.svg), none;
  background-position: center 0;
  background-size: 80px 80px;
  height: 200px;
  padding: 100px 0 0 0;
  text-align: center; }
  .no-posts p {
    color: #676767;
    margin: 0 0 10px 0; }

.thermometer {
  animation-name: temperature; }

footer {
  background-color: #e2f3f4;
  padding: 10px 0; }
  footer a {
    color: #90abad;
    font-size: 14px;
    text-decoration: none; }
    footer a:hover {
      color: #5b7a7c; }
  footer span {
    color: #d1dcdd;
    font-size: 18px;
    float: left;
    margin: 0 6px;
    line-height: 16px; }
  footer ul {
    list-style: none;
    float: right; }
    footer ul li {
      float: left; }

@media (min-width: 960px) {
  .container {
    width: 960px;
    margin: 0 auto; }
    .container:after {
      content: " ";
      clear: both; }

  .col2 {
    width: 140px;
    float: left;
    margin: 0 10px; }

  .col3 {
    width: 220px;
    float: left;
    margin: 0 10px; }

  .col4 {
    width: 300px;
    float: left;
    margin: 0 10px; }

  .col5 {
    width: 380px;
    float: left;
    margin: 0 10px; }

  .col6 {
    width: 460px;
    float: left;
    margin: 0 10px; }

  .col7 {
    width: 540px;
    float: left;
    margin: 0 10px; }

  .col8 {
    width: 620px;
    float: left;
    margin: 0 10px; }

  .col9 {
    width: 700px;
    float: left;
    margin: 0 10px; }

  .col10 {
    width: 780px;
    float: left;
    margin: 0 10px; }

  .col11 {
    width: 860px;
    float: left;
    margin: 0 10px; }

  .col12 {
    width: 940px;
    float: left;
    margin: 0 10px; }

  .pre1 {
    margin-left: 80px; }

  .pre2 {
    margin-left: 160px; }

  .pre3 {
    margin-left: 240px; }

  .pre4 {
    margin-left: 320px; }

  .pre5 {
    margin-left: 400px; }

  .pre6 {
    margin-left: 480px; }

  .pre7 {
    margin-left: 560px; }

  .pre8 {
    margin-left: 640px; }

  .pre9 {
    margin-left: 720px; }

  .pre10 {
    margin-left: 800px; }

  .suf1 {
    margin-right: 80px; }

  .suf2 {
    margin-right: 160px; }

  .suf3 {
    margin-right: 240px; }

  .suf4 {
    margin-right: 320px; }

  .suf5 {
    margin-right: 400px; }

  .suf6 {
    margin-right: 480px; }

  .suf7 {
    margin-right: 560px; }

  .suf8 {
    margin-right: 640px; }

  .suf9 {
    margin-right: 720px; }

  .suf10 {
    margin-right: 800px; }

  .colr {
    float: right;
    margin: 0 10px; }

  .alpha {
    margin-left: 0; }

  .omega {
    margin-right: 0; }

  .clear {
    clear: both; }

  .header {
    background-color: #df4627;
    height: 68px; }
    .header .logo {
      background: url(../img/logo.png) no-repeat;
      background-image: url(../img/logo.svg), none;
      background-position: 0 17px;
      background-size: 25px 25px;
      width: auto;
      height: 50px;
      margin: 4px 0 0 0;
      padding: 0 0 0 23px;
      float: left;
      text-decoration: none; }
    .header h1 {
      color: white;
      font-size: 22px;
      font-weight: normal; }
    .header .main-nav {
      float: right;
      font-family: "Roboto Slab", serif; }
      .header .main-nav ul {
        list-style: none; }
        .header .main-nav ul li {
          float: left;
          margin-left: 10px; }
          .header .main-nav ul li a {
            background: none repeat scroll 0 0 #ce3c1f;
            border: 1px solid #b8361b;
            -ms-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            float: left;
            padding: 7px 10px;
            font-family: "PT Sans", sans-serif;
            color: white;
            opacity: 0.9;
            text-decoration: none; }
            .header .main-nav ul li a:hover {
              background: none repeat scroll 0 0 #b8361b;
              border: 1px solid #a22f18;
              text-shadow: 2px 2px #a22f18;
              opacity: 1; }
            .header .main-nav ul li a.cta {
              background: none repeat scroll 0 0 #a22f18;
              border: 1px solid #8b2915; }
              .header .main-nav ul li a.cta:hover {
                background: none repeat scroll 0 0 #8b2915;
                border: 1px solid #752211;
                text-shadow: 2px 2px #752211; }

  .main-content {
    z-index: -3;
    background: white;
    padding: 20px 20px 35px;
    min-height: 80%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .main-content .bookmarklet {
      background-color: #df4627;
      -ms-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 20px 0 30px 0;
      padding: 7px 10px;
      color: white;
      text-decoration: none; }
    .main-content p {
      margin: 0 0 10px 0; }
    .main-content .error {
      margin: 0 5px 0 0;
      font-size: 26px;
      line-height: 6px;
      vertical-align: middle;
      color: #dc3f47; }
    .main-content h3 {
      display: inline-block;
      margin: 10px 0 0 0;
      font-size: 16px; }
      .main-content h3 span {
        color: #676767;
        font-weight: 400; }
      .main-content h3 a {
        color: #df4627;
        font-weight: 400;
        font-size: 12px;
        margin: 0 0 0 5px; }
    .main-content .filter {
      margin: -20px 0 20px -20px;
      min-width: 600px;
      background-color: #f2f2f2;
      padding: 0 20px 0 0; }
      .main-content .filter h3 {
        background-color: #e6e6e6;
        padding: 20px 20px 20px 20px;
        margin: 0; }
    .main-content .filter-tag {
      margin: 0 0 0 10px;
      display: inline-block;
      height: 20px;
      padding: 2px 8px;
      background-color: #df4627;
      vertical-align: middle;
      -ms-border-radius: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      font-size: 16px;
      color: white;
      text-transform: lowercase; }
      .main-content .filter-tag a {
        text-decoration: none;
        color: #8b2915;
        font-size: 18px;
        vertical-align: middle;
        margin: 0 5px 0 0;
        font-weight: bold; }
        .main-content .filter-tag a:hover {
          color: #330f07; }
    .main-content ul {
      list-style: none;
      margin: 12px 0 10px 20px;
      padding: 0; }
      .main-content ul.pager {
        list-style: none;
        margin: 30px 0;
        padding: 0; }
        .main-content ul.pager li {
          margin: 0;
          float: left;
          padding: 7px 10px;
          font-family: "PT Sans", sans-serif;
          font-size: 18px;
          font-weight: 600;
          color: #666666;
          text-decoration: none;
          cursor: pointer;
          line-height: 24px;
          text-align: center; }
          .main-content ul.pager li:last-child {
            float: right; }
          .main-content ul.pager li:before {
            content: none; }
          .main-content ul.pager li a {
            color: #df4627;
            text-decoration: none; }
          .main-content ul.pager li.disabled {
            color: transparent; }
      .main-content ul li {
        color: #5a5a5a; }
        .main-content ul li:before {
          content: '\2022';
          vertical-align: middle;
          margin: 0 8px 0 0;
          color: #df4627;
          font-size: 22px; }

  .post {
    padding: 15px 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .post .left {
      float: left;
      padding: 0 15px 0 0; }
    .post .right {
      float: left;
      width: 500px; }
    .post .image {
      -ms-border-radius: 35px;
      -moz-border-radius: 35px;
      -webkit-border-radius: 35px;
      border-radius: 35px; }
    .post h1 {
      margin: 0;
      font-size: 24px; }
      .post h1:hover {
        color: #df4627; }
    .post h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize; }
      .post h2:hover {
        color: #df4627; }
    .post h3 {
      font-size: 22px;
      margin: 50px 0 0 78px; }
    .post h4 {
      margin: 0 0 10px 0;
      font-size: 16px; }
    .post .comments {
      color: #414141;
      font-size: 12px;
      cursor: pointer;
      text-decoration: underline; }
      .post .comments:hover {
        color: #df4627; }
    .post .comment {
      margin: 30px 0 0 2px; }
      .post .comment p {
        color: #5a5a5a;
        margin: 0 0 10px 0; }
      .post .comment .time {
        color: #8d8d8d;
        font-size: 14px; }
    .post .add {
      margin: 0 0 0 78px; }
      .post .add p {
        margin: 20px 0 20px 0; }
      .post .add .btn {
        margin: 0 5px 0 0;
        color: white; }
    .post a {
      text-decoration: none;
      color: #343434; }
      .post a:visited {
        color: #6c6c6c; }
    .post .domain {
      font-family: "Roboto Slab", serif;
      font-size: normal;
      color: #616161;
      font-size: 14px; }
    .post .tags {
      margin: 5px 0 0 0; }
    .post .tag {
      background-color: #e6e6e6;
      padding: 2px 8px;
      -ms-border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      font-size: 12px;
      color: gray;
      text-transform: lowercase;
      cursor: pointer; }
      .post .tag:hover {
        background-color: #df4627;
        color: white; }
    .post p {
      margin: 0; }

  .no-posts {
    margin: 20px 0 0 0;
    background: url(../img/sad-face.png) no-repeat;
    background-image: url(../img/sad-face.svg), none;
    background-position: center 0;
    background-size: 80px 80px;
    height: 200px;
    padding: 100px 0 0 0;
    text-align: center; }
    .no-posts p {
      color: #676767;
      margin: 0 0 10px 0; }

  .thermometer {
    animation-name: temperature; }

  footer {
    background-color: #e2f3f4;
    padding: 10px 0; }
    footer a {
      color: #90abad;
      font-size: 14px;
      text-decoration: none; }
      footer a:hover {
        color: #5b7a7c; }
    footer span {
      color: #d1dcdd;
      font-size: 18px;
      float: left;
      margin: 0 6px;
      line-height: 16px; }
    footer ul {
      list-style: none;
      float: right; }
      footer ul li {
        float: left; } }
@media (min-width: 600px) and (max-width: 959px) {
  .wrap {
    overflow: hidden;
    width: 100%; }

  .container {
    width: 100%; }
    .container::after {
      content: " ";
      clear: both; }

  .col12, .col11, .col10, .col9, .col8, .col7 {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .col12 .col12, .col12 .col11, .col12 .col10, .col12 .col9, .col12 .col8, .col12 .col7, .col11 .col12, .col11 .col11, .col11 .col10, .col11 .col9, .col11 .col8, .col11 .col7, .col10 .col12, .col10 .col11, .col10 .col10, .col10 .col9, .col10 .col8, .col10 .col7, .col9 .col12, .col9 .col11, .col9 .col10, .col9 .col9, .col9 .col8, .col9 .col7, .col8 .col12, .col8 .col11, .col8 .col10, .col8 .col9, .col8 .col8, .col8 .col7, .col7 .col12, .col7 .col11, .col7 .col10, .col7 .col9, .col7 .col8, .col7 .col7 {
      width: 100%;
      margin: 0;
      padding: 0; }

  .col6, .col5, .col4, .col3 {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  .col2 {
    width: 33.33%;
    float: left;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  .full-medium {
    width: 100%; }

  .half-medium {
    width: 50%;
    float: left; }

  .one-third-medium {
    width: 33.33%;
    float: left; }

  .two-thirds-medium {
    width: 66.66%;
    float: left; }

  .colr {
    float: right;
    margin: 0 10px; }

  .alpha {
    margin-left: 0; }

  .omega {
    margin-right: 0; }

  .clear {
    clear: both; }

  .header {
    background-color: #df4627;
    height: 68px;
    padding: 0 5%;
    margin: 0 0 0 0; }

  .main-content {
    margin: 0 5%;
    padding: 35px 20px 20px 20px;
    width: 90%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .main-content .bookmarklet {
      background-color: #df4627;
      -ms-border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 20px 0 30px 0;
      padding: 7px 10px;
      color: white;
      text-decoration: none; }
    .main-content .filter {
      min-width: 0;
      margin: -35px -20px 25px -20px;
      background-color: #f2f2f2;
      padding: 0 40px 0 0; }
      .main-content .filter h3 {
        background-color: #e6e6e6;
        padding: 20px 20px 20px 20px;
        margin: 0; }
    .main-content .filter-tag {
      margin: 0 0 0 10px;
      display: inline-block;
      height: 20px;
      padding: 2px 8px;
      background-color: #df4627;
      vertical-align: middle;
      -ms-border-radius: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      font-size: 16px;
      color: white;
      text-transform: lowercase; }
      .main-content .filter-tag a {
        text-decoration: none;
        color: #8b2915;
        font-size: 18px;
        vertical-align: middle;
        margin: 0 5px 0 0;
        font-weight: bold; }
        .main-content .filter-tag a:hover {
          color: #330f07; }

  .post {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .post .right {
      width: 80%; }
    .post .tags {
      margin: 5px 0 30px 0; }

  footer ul {
    padding: 0 5%; }

  .form {
    margin: 0 0 20px 0; } }
@media (min-width: 240px) and (max-width: 599px) {
  .wrap {
    overflow: hidden;
    width: 100%; }

  .container {
    width: 100%; }
    .container:after {
      content: " ";
      clear: both; }

  .col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3 {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .col12 .col12, .col12 .col11, .col12 .col10, .col12 .col9, .col12 .col8, .col12 .col7, .col12 .col6, .col12 .col5, .col12 .col4, .col12 .col3, .col11 .col12, .col11 .col11, .col11 .col10, .col11 .col9, .col11 .col8, .col11 .col7, .col11 .col6, .col11 .col5, .col11 .col4, .col11 .col3, .col10 .col12, .col10 .col11, .col10 .col10, .col10 .col9, .col10 .col8, .col10 .col7, .col10 .col6, .col10 .col5, .col10 .col4, .col10 .col3, .col9 .col12, .col9 .col11, .col9 .col10, .col9 .col9, .col9 .col8, .col9 .col7, .col9 .col6, .col9 .col5, .col9 .col4, .col9 .col3, .col8 .col12, .col8 .col11, .col8 .col10, .col8 .col9, .col8 .col8, .col8 .col7, .col8 .col6, .col8 .col5, .col8 .col4, .col8 .col3, .col7 .col12, .col7 .col11, .col7 .col10, .col7 .col9, .col7 .col8, .col7 .col7, .col7 .col6, .col7 .col5, .col7 .col4, .col7 .col3, .col6 .col12, .col6 .col11, .col6 .col10, .col6 .col9, .col6 .col8, .col6 .col7, .col6 .col6, .col6 .col5, .col6 .col4, .col6 .col3, .col5 .col12, .col5 .col11, .col5 .col10, .col5 .col9, .col5 .col8, .col5 .col7, .col5 .col6, .col5 .col5, .col5 .col4, .col5 .col3, .col4 .col12, .col4 .col11, .col4 .col10, .col4 .col9, .col4 .col8, .col4 .col7, .col4 .col6, .col4 .col5, .col4 .col4, .col4 .col3, .col3 .col12, .col3 .col11, .col3 .col10, .col3 .col9, .col3 .col8, .col3 .col7, .col3 .col6, .col3 .col5, .col3 .col4, .col3 .col3 {
      width: 100%;
      margin: 0;
      padding: 0; }

  .col2 {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  .full-small {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  .half-small {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  .clear {
    clear: both; }

  body {
    font-size: 16px; }

  .header .logo {
    width: 50px;
    margin: 4px 0 0 0;
    float: left;
    text-decoration: none; }

  .main-content {
    padding: 35px 20px 40px 20px; }
    .main-content .filter {
      min-width: 0;
      margin: -35px -20px 25px -20px; }

  .post {
    padding: 20px 0 0 0;
    border-bottom: solid 1px #f2f2f2;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .post .right {
      float: left;
      width: 80%; }
    .post .image {
      width: 40px;
      height: 40px;
      -ms-border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px; }
    .post .tags {
      margin: 5px 0 20px 0; }

  footer ul {
    padding: 0; }

  label {
    margin: 0 0 12px 0; }

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    font-size: 14px;
    height: 20px; }

  .btn {
    padding: 8px 14px 6px;
    font-size: 18px; } }
