.btn {
	background: none repeat scroll 0 0 #232846;
    border: medium none;
    border-radius: 10px;
    color: #DDE0F0;
    float: left;
    padding: 7px 10px;
    text-decoration: none;
    font-family: $title_font;
}