fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    border: solid 1px #bfbebe;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
    margin-bottom: 10px;
}