

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

label {
    color: $text;
    display: block;
    height: 15px;
    margin: 0 0 10px 0;
}


input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    border: solid 1px darken($white, 30);
    border-radius: 5px;
    padding: 8px;
    width: 95%;
    height: 15px;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
    border: solid 1px darken($white, 30);
    border-radius: 5px;
    margin: 30px 0 15px 0;
    padding: 8px;
    width: 90%;
    &:focus {
        border:solid 1px $brand;
        outline: none; 
    }
}

input:focus { 
border:solid 1px $brand;
outline: none; 
}