// COLORS
$brand:					#323a64;
$background: 			#ececec;

$white: 				#fff;
$black: 				#000;

// GRID
$col-qty:				12;
$col-width: 			60px;
$gutter:				20px;


// BREAKPOINTS
$breakpoint-large: 		1024px;
$breakpoint-medium: 	600px;
$breakpoint-small: 		240px;


// IMAGES
$img: 		    		"../img/";
$sprite: 		    	"../img/sprite.png";
$font_dir: 		    	"../fonts/";

	
// TYPOGRAPHY
$body_font: 			'PT Sans', sans-serif;
$title_font: 			'Roboto Slab', serif;
$text:					#343434;
$sub_text: 				#a6a5a5;