/*
 * Hoisin sauce
 * CSS Framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9
 *
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|PT+Sans:400,700);


@import "vars";
@import "mixins";

// Only styles common for all screen sizes
html, body {
	color: $text;
	font-family: $body_font;
	background: $background;
	margin: 0;
	padding: 0;
	font-size: 16px;
	height: 100%
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title_font;
}

.sub-text {
	color: $sub_text;
	font-size: 12px;
}

@-webkit-keyframes rating {
  0%   {
  	background-image: url(../img/Thermometer-Zero.svg), none;
		background-size: 25px 25px;
	}
  100% {
  	background-image: url(../img/Thermometer-100.svg), none;
		background-size: 25px 25px;
	}
}
@-moz-keyframes rating {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes rating {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes rating {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@import "forms";
@import "buttons";