/*
 * Hoisin sauce
 * CSS Framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9
 *
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|PT+Sans:400,700);


@import "vars";
@import "mixins";

// Only styles common for all screen sizes
html, body {
	color: $text;
	font-family: $body_font;
	background: $background;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title_font;
}

.sub-text {
	color: $sub_text;
	font-size: 12px;
}

.header {
	background-color: $brand;
	height: 68px;
	.logo {
		width: 200px;
		margin: 5px 0 0 0;
		float: left;
		text-decoration: none;
	}
	h1 {
		color: $white;
		font-size: 22px;
		font-weight: normal;

	}
	.main-nav {
		float: right;
		font-family: $title_font;
		ul {
			list-style: none;
			li {
				float: left;
				margin-left: 10px;
				a {
					background: none repeat scroll 0 0 darken($brand, 5);
					border: 1px solid darken($brand, 10);
				    @include radius(5px);
				    float: left;
				    padding: 7px 10px;
				    font-family: $body_font;
				    color: $white;
				    opacity: 0.9;
				    text-decoration: none;
				    &:hover {
				    	background: none repeat scroll 0 0 darken($brand, 10);
				    	border: 1px solid darken($brand, 15);
				    	opacity: 1;
				    }
				    &.cta {
				    	background: none repeat scroll 0 0 darken($brand, 15);
				    	border: 1px solid darken($brand, 20);
				    	&:hover {
				    	background: none repeat scroll 0 0 darken($brand, 20);
				    	border: 1px solid darken($brand, 25);
				    	}
				    }
				}   
			}
		}
	}
}

.main-content {
	background: $white;
	padding: 20px 10px;
	@include box-sizing();
	.error {
		color: $error;
		}
}

.post {
	padding: 15px 10px;
	@include box-sizing();
	.left {
		float: left;
    	padding: 0 15px 0 0;
	}
	.right {
		float: left;
		width: 500px;
	}
	.image {
		@include radius(35px);
	}
	h2 {
		margin: 0;
		font-size: 20px;
		font-weight: 600;
		text-transform: capitalize;
		&:hover {
			color: $brand;
		}
	}
	a {
		text-decoration: none;
		color: $text;
	}
	.tags {
		background-color: darken($white, 10);
		padding: 2px 8px;
		@include radius(8px);
		font-size: 12px;
		color: lighten($black, 50);
		text-transform: lowercase;
		cursor: pointer;
		&:hover {
			background-color: $brand;
			color: $white;
		}
		
	}
	.domain {
		font-family: $title_font;
		font-size: normal;
		color: #616161;
		font-size: 14px;
	}
	p {
		margin: 0;
	}
}

@import "forms";
@import "buttons";