/*
 * Hoisin sauce
 * CSS Framework boilerplate
 * Create your own grids, plugin anything
 * Version: 0.9
 *
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|PT+Sans:400,700);


@import "vars";
@import "mixins";

// Only styles common for all screen sizes
html, body {
	color: $text;
	font-family: $body_font;
	background: $background;
	margin: 0;
	padding: 0;
	font-size: 16px;
	height: 100%
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title_font;
}

.sub-text {
	color: $sub_text;
	font-size: 12px;
}



@import "forms";
@import "buttons";